@model taskmanager.Models.User
@{
    Layout ="~/Views/Shared/_AccountLayout.cshtml";
}

<form method="POST" asp-action="Signup" onsubmit="return ajaxRegister(this)" autocomplete="off">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label>Name:</label>
        <input asp-for="Name" type="text" class="form-control" required>
            </div>
            <div class="col">
                  <label>Surname:</label>
        <input asp-for="Surname" type="text" class="form-control" required>
            </div>
        </div>
      
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        <input asp-for="Email" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Username:</label>
        <input asp-for="Username" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input asp-for="Password" type="password" id="pass" class="form-control" required>
    </div>
     <div class="form-group">
        <label>Password Confirm:</label>
        <input id="pass-confirm" type="password" class="form-control">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </div>
</form>