<div class="container mt-3">
    <div class="row">
        <section class="col-3 mt-3">
            <h5 class="text-warning ml-3">Sort:</h5>
            <select class="custom-select" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value" >{{sort.name}}</option>
            </select>
            <h5 class="text-warning ml-3">List:</h5>
            <ul class="list-group">
                <li class="list-group-item" routerLink="/assigned-works">Assigned Works</li>
                <li class="list-group-item">List 2</li>
                <li class="list-group-item">List 3</li>
                <li class="list-group-item">List 4</li>
            </ul>
        </section>
        <section class="col-9 mt-5">
            <button class="btn btn-primary btn-block" routerLink="/work-create">Create Work</button>
            <table class="table table-bordered table-hover mt-3" *ngIf="works">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Goal time</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let work of works">

                        <td>
                            <a routerLink="/work-create/{{work.id}}">{{work.title}}</a>
                        </td>

                        <td>{{work.description.substring(0,9)}}...</td>
                        <td>{{work.goalTime | date}}</td>
                        <td class="text-center">
                            <button type="button" (click)="deleteWork(work.id)" class="btn btn-danger mr-2"><i class="fa fa-trash" aria-hidden="true" style="color: white;"></i></button>
                            <button type="button" (click)="doneWork(work.id)" class="btn btn-success">
                                <i *ngIf="!work.isDone" class="fa fa-check" aria-hidden="true" style="color: white;"></i>
                                <i *ngIf="work.isDone" class="fa fa-reply" aria-hidden="true" style="color: whitesmoke;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>