<div class="container mt-3">
    <div class="row">
        <section class="col-3 mt-3">
            <h5 class="text-warning ml-3">Sort:</h5>
            <select class="custom-select" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value" >{{sort.name}}</option>
            </select>
            <h5 class="text-warning ml-3">List:</h5>
            <ul class="list-group">
                <li class="list-group-item active">List 1</li>
                <li class="list-group-item">List 2</li>
                <li class="list-group-item">List 3</li>
                <li class="list-group-item">List 4</li>
            </ul>
        </section>
        <section class="col-9 mt-5">
            <button class="btn btn-primary btn-block" routerLink="/work-create">Create Work</button>
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Goal time</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let work of works">

                        <td>
                            <a routerLink="/work-create/{{work.id}}">{{work.title}}</a>
                        </td>

                        <td>{{work.description.substring(0,9)}}...</td>
                        <td>{{work.goalTime | date}}</td>
                        <td><button type="button" (click)="deleteWork(work.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true" style="color: white;"></i></button></td>
                    </tr>

            </table>
        </section>
    </div>
</div>