<app-nav-bar></app-nav-bar>
<div class="container mt-3">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Goaltime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let work of works">
                <td>{{work.title}}</td>
                <td>{{work.description}}</td>
                <td>{{work.goalTime | date}}</td>
            </tr>
    </table>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>