<div class="container mt-3">
    <div class="row">
        <section class="col-3 mt-3">
            <a routerLink="/work">Back to Home</a>
        </section>
        <section class="col-9 mt-5">
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Assigned Works</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let user of users">
                        <td><a routerLink="/assigned-works/{{user.id}}">{{user.name}}</a></td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.workCount}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>