<div class="container mt-3">
    <div class="row">
        <section class="col-3 mt-3">
            <h3 class="text-monospace">Don't you have an account?</h3>
            <form #registerForm="ngForm" (ngSubmit)="register()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Name" [(ngModel)]="user.name" name="name">
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Surname" [(ngModel)]="user.surname" name="surname">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Username" [(ngModel)]="user.username" name="username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Email" [(ngModel)]="user.email" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="user.password" name="password">
                </div>
                <div class="form-group">
                    <label>Password Confirm</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Password Confirm" [(ngModel)]="passConfirm" name="passConfirm">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-sm">Sign Up</button>
            </form>
        </section>
        <section class="col-9 mt-5 justify-content-center d-flex">
            <pre>
            <h2>Welcome to the Task Manager</h2>
            <h5><i class="fa fa-check-circle" aria-hidden="true"></i>  You can add your work to be done,</h5>
            <h5><i class="fa fa-check-circle" aria-hidden="true"></i> You can view your works weekly, monthly and yearly,</h5>
            <h5><i class="fa fa-check-circle" aria-hidden="true"></i> You can assign and manage jobs to people.</h5>
        </pre>
        </section>
    </div>
</div>

<!--
<div class="container d-flex mt-4 justify-content-center">
    
</div> -->