@model taskmanager.Models.Work
@{
    Layout = null;
}

        <form asp-action="Save" onsubmit="return AjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" type="text" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" type="text" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="GoalTime" class="control-label"></label>
                <input asp-for="GoalTime" class="form-control" />
                <span asp-validation-for="GoalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-block">
            </div>
        </form>