<div class="container mt-3">
    <div class="row">
        <section class="col-3 mt-3">
            <button class="btn btn-info" routerLink="/">Back to Works</button>
        </section>
        <section class="col-9 mt-5">
            <form #workPost="ngForm" (ngSubmit)="onSubmit(workPost.value)">
                <div class="form-group">
                    <input type="hidden" [(ngModel)]="work.id" name="id">
                    <input type="hidden" [(ngModel)]="work.ownerId" name="ownerId">
                    <label>Title:</label>
                    <input class="form-control" type="text" [(ngModel)]="work.title" name="title">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" type="text" [(ngModel)]="work.description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label>Goal Time:</label>
                    <input type="date" name="goalTime" class="form-control" [(ngModel)]="work.goalTime">
                </div>
                <div class="form-group">
                    <button *ngIf="work.id == 0" type="submit" class="btn btn-primary">Create Work</button>
                    <button *ngIf="work.id != 0" type="submit" class="btn btn-info">Update Work</button>
                </div>
            </form>
            <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm.value)" *ngIf="work.id != 0" class="form-inline mt-4 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search user for assign" aria-label="Search" name="search" [(ngModel)]="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="card mt-3" *ngIf="user" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.userName}}</h6>
                    <p class="card-text">{{user.email}}</p>
                    <a (click)="assignWork()" class="btn btn-primary btn-sm">Assign</a>
                </div>
            </div>
        </section>
    </div>
</div>