<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="/">Task Manager</h5>
    <nav class="my-2 my-md-0 mr-md-3 text-center">
    </nav>
    <ul *ngIf="loggedIn()" class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="logout()">Sign out</a>
        </li>
    </ul>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
        <input class="form-control form-control-sm mr-sm-2" name="username" type="text" minlength="3" placeholder="Username" [(ngModel)]="model.username" required>
        <input class="form-control form-control-sm mr-sm-2" name="password" minlength="6" type="password" placeholder="Password" [(ngModel)]="model.password" required>
        <button [disabled]="loginForm.invalid" class="btn btn-primary btn-sm my-2 my-sm-0" type="submit">Login</button>
    </form>
</div>